<section class="phx-hero">
  <ul>
    <%= for item <- @items do %>
      <li>
        <strong><%= link(item.title, to: Routes.item_path(@conn, :show, item)) %></strong>: <%= item.description %>
      </li>
    <% end %>
  </ul>
  <p>This page is quite differente than the other one, this is the template for
  Items entity</p>
</section>